<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">

    <test name="ADIDAS TEST">
        <classes>
            <class name="test.java.mobiquity.usecases.Test_NewsLetterSignUp"/>
            <class name="test.java.mobiquity.usecases.Test_SearchForWomensJacket"/>
            <class name="test.java.mobiquity.usecases.Test_ForgottenPasswordFieldValidation"/>
        </classes>
    </test>


</suite>